<a href="https://colab.research.google.com/github/M-H-Amini/MachineLearning-TMU/blob/master/MLe_TMU_Lec0_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In The Name Of ALLAH
# Machine Learning *elementary* Course
## Tarbiat Modares University
### Mohammad Hossein Amini (mhamini@aut.ac.ir)
# Lecture 0 - Intro

<img src="https://github.com/M-H-Amini/MachineLearning-AUT/blob/master/stuff/MLAUT.jpg?raw=true" width="400">

# Basic Operations

In [ ]:
print('Machine Learning')
input('Enter sth')

# Variables

In [ ]:
a = 5
print(type(a))
a = 4.5
print(type(a))
a = 'Hello there!'
print(type(a))
n = input('Enter your name: ')
print('Hello', n)

# Arrays

In [ ]:
#  List...
'''
l = [28, 47, 83]
print(l)
l.append(76)
print(l)
l.append('Bye')
print(l)
m = ['Hi', 17.1]
n = l + m
print(n)
print(len(l))
print(len(m))
print(len(n))
l.append(m)
print(len(l))
print(l)
p = l[1:5]
print(p)
'''
#  Tupple...
'''
l1 = [2, 3, 9]
t1 = (2, 3, 9)
print(l1, t1)
l1[0] = 28
print(l1)
t2 = 'Shayan', 75
print(t2)
name, year = t2
print(year)
'''
#  Dictionary...
grade = {'Linear Algebra':20, 'Elec2':15, 'Linear Control':19}
print(grade['Elec2'])
grade['Math'] = 18
print(grade['Math'])
print(grade)
print(grade.keys())
print(grade.values())
print(grade.items())

# Control Flows

In [ ]:
grade = 8
if grade>17:
  print('A')
elif grade>14:
  print('B')
elif grade>10:
  print('C')
else:
  print('D')

for i in range(10):  #  range(a, b) --> a, a+1, ..., b-1
  print(i, end=', ')
print()

#print(list(range(20)))

# Functions

In [ ]:
def factors(n):
  return [i for i in range(1, n+1) if not n%i]

def isPrime(n):
  return True if len(factors(n))==2 else False

def primes(a, b):
  return [i for i in range(a, b) if isPrime(i)], len([i for i in range(a, b) if isPrime(i)])

#isPrime(10)
#isPrime(16)
#isPrime(19)
a = factors(24)
print(a)
print(isPrime(11))
numbers, no = primes(100, 1000)
#print(numbers)
print(no)

# Classes

In [ ]:
class Student:
  def __init__(self, name, lessons, phone):
    self.name = name
    self.l = lessons
    self.telephone = phone

  def show(self):
    print(f'Name: {self.name} \nLessons: {self.l} \nTelephone: {self.telephone}')

  def avg(self):
    return sum(self.l.values()) / len(self.l.values())

mha = Student('MHA', {'Elec1':19, 'Elec2':15, 'Math':20}, 12345)
ak = Student('Alireza', {'Adaptive':20, 'Stochastic':20}, 54321)
ak.show()
print('Average is: ', mha.avg())

# Matplotlib

In [ ]:
import matplotlib.pyplot as plt

X = [-2, -1.5, 0.5, 5]
Y = [i**2 for i in X]

fig = plt.figure()
plt.subplot(1, 2, 1)
plt.plot(X, Y, 'r--x')
plt.title('TMU')
plt.xticks([-2, 4])
plt.yticks([])
plt.xlabel('X of my data')
plt.ylabel('Y of my data')
plt.subplot(1, 2, 2)
plt.plot(X, Y, 'b-o')
plt.title('TMU')
plt.xticks([-2, 4])
plt.yticks([])
plt.xlabel('X of my data')
plt.ylabel('Y of my data')
plt.show()
fig.savefig('Data.pdf')

# Numpy

In [ ]:
import numpy as np

'''
a = np.array([4, 3., 2])
s = np.sin(a)
print(s)
print(s.shape)

a = np.array([[1, 5, 3], [2, 0.5, 1]])
b = np.ones((2, 3))
#print(a)
#print(b)
c = a + b
print(c)
d = np.eye(3)
#print(d)
e = np.dot(c, d)
print(e)

a = np.array([[1, 5, 3],
              [2, 4, 1],
              [1, 2, 9]])
print(a.shape)
print(a[1, 1])
b = a[:, 1:2]
print(b.shape)
print(b)
'''
import time

a = np.random.rand(1000000)
b = np.random.rand(1000000)
c = 0
t0 = time.time()
for i in range(a.shape[0]):
  c += a[i]*b[i]
t1 = time.time()
print(c)
print(f"It took {t1 - t0} seconds!")

t0 = time.time()
c = np.dot(a, b)
t1 = time.time()
print(c)
print(f"It took {t1 - t0} seconds!")

# Pandas

In [ ]:
import pandas as pd
ds = pd.read_csv('sample_data/california_housing_train.csv')

In [ ]:
ds.head(10)

In [ ]:
ds.tail()

In [ ]:
ds.describe()

In [ ]:
print(ds.shape)